
.datastatistics{position: absolute;left: 10px;opacity: .2;text-align: center;width: 60px; font-size: 50px;top: 50%;line-height: 80px;height: 80px;overflow: hidden;margin-top: -44px;}
.statistic_text{font-size: 12px;padding: 0px;}
.statistic_text p{margin: 0 0 2px;}
.statistic_text strong{font-size: 28px;padding-right:8px;font-weight: normal;}

.bidtay{position:absolute;right: 0;top:5px;}






















